body {
    background: linear-gradient(270deg, #e8e8e8, #ffc107, #ff9800, #ff5722, #f44336, #e91e63, #9c27b0, #673ab7, #3f51b5, #2196f3, #03a9f4, #00bcd4, #009688, #4caf50, #8bc34a, #cddc39, #ffeb3b);
    background-size: 3400% 3400%;
    -webkit-animation: bg-animation 28s ease infinite;
    -moz-animation: bg-animation 28s ease infinite;
    -o-animation: bg-animation 28s ease infinite;
    animation: bg-animation 28s ease infinite;
}

@-webkit-keyframes bg-animation {
    0% {
        background-position: 0% 100%
    }

    50% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 100%
    }
}

@-moz-keyframes bg-animation {
    0% {
        background-position: 0% 100%
    }

    50% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 100%
    }
}

@-o-keyframes bg-animation {
    0% {
        background-position: 0% 100%
    }

    50% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 100%
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0% 100%
    }

    50% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 100%
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.typography-scroll {
    align-items: center;
    animation: 100s slide-left linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 0;
    color: rgba(12, 12, 12, 0.05);
    display: -ms-flexbox;
    display: flex;
    font-family: monospace;
    font-size: 75vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    white-space: nowrap;
    will-change: transform;
    z-index: -1;
}